include mixins.pug
doctype html

html(lang='en')
  head
    meta(charset='utf8')
    meta(name='google-site-verification' content='PK63dczvglO_3smcxfoN-7mmOQ1HmDEcwSMkr1-7nUI')
    script
      include:uglify-js ../../script/enforce-https.js
    meta(http-equiv='Content-Language' content='en')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='theme-color' content='#ffffff')
    block preload
      link(rel='preload' as='script' href='https://www.google-analytics.com/analytics.js')
      link(rel='preload' as='style' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
      link(rel='preload' as='style' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
      link(rel='preload' as='script' href='/js/require.js')
      link(rel='preload' as='script' href='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      link(rel='preload' as='script' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
      link(rel='preload' as='script' href='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
      link(rel='preconnect' href='https://googleads.g.doubleclick.net')
      link(rel='preconnect' href='https://google.com')
      link(rel='preconnect' href='https://tpc.googlesyndication.com')
      link(rel='preconnect' href='https://cm.g.doubleclick.net')
    script
      include:uglify-js ../../script/google-analytics.js
    title Game calculators
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')
    link(rel='manifest' href='/manifest.json')
body
  .container
    +googleAd(9779739682)
    include nav.pug
    +googleAd(8163405682, {'margin-bottom': '20px'})
    block content
    block footer
      hr.clearfix
      footer
        +googleAd(3593605286)
        .small.text-center(style={'margin-top': '1em'})
          span.show Created by s220.alorel
          +externalLink('https://github.com/Alorel', 'See more of my GitHub stuff', {'class': 'show'})
          div
            span Hosted with
            |
            |
            span.glyphicon.glyphicon-heart
            |
            |
            span by
            |
            |
            +externalLink('https://www.netlify.com', 'Netlify')
  script(src='/js/require.js')
  script
    include:uglify-js ../../script/require-conf.js
    include:uglify-js ../../script/alo-cfg.min.js
    include:uglify-js ../../script/global.js
  block scripts