extends inc/layout.pug

block content
  form.col-md-6
    h3 Settings
    table.table.table-bordered.table-hover.table-condensed
      tbody
        tr
          td
            label(for='_hpt-hpmax') Max HP:
          td
            input.form-control#_hpt-hpmax(type='number' value=0 min=0 data-cfg='hpt-max')
        tr
          td
            label(for='_hpt-hpplus')
              span(title='How much Healing potion +% you have' data-tooltip) Healing potion +%:
          td
            input.form-control#_hpt-hpplus(type='number' value=0 min=0 data-cfg='hpt-hppluspct')
        tr
          td
            strong HP pack:
          td
            ul.list-unstyled
              li
                label
                  input(data-cfg='hpt-pack' type='radio' value=0 name='pack' checked)
                  span None
              li
                label
                  input(data-cfg='hpt-pack' type='radio' value=3200 name='pack')
                  span Small
              li
                label
                  input(data-cfg='hpt-pack' type='radio' value=16000 name='pack')
                  span Medium
              li
                label
                  input(data-cfg='hpt-pack' type='radio' value=40000 name='pack')
                  span Large
        tr
          td(colspan=2)
            label
              input(type='checkbox' name='no-waste' data-cfg='hpt-no-waste')
              span(
              title="No waste mode makes sure you don't waste any HP pack healing by lowering the heal %"
              data-tooltip
              ) No waste mode
  .col-md-6
    h3 Result
    table.table.table-bordered.table-hover.table-condensed
      - var types = ['L', 'M', 'S'];
      thead
        tr
          th
          each type in types
            th HP potion (#{type})
      tbody
        td Autodrink %
        each type in types
          td
            span(id=`_res-autodrink-${type}` data-tooltip title)

block append scripts
  script
    include:uglify-js ../script/felspire-healing-pct.js