extends inc/layout.pug

block append scripts
  script(src='/js/felspire-perk-calculator.js' async)

block append preload
  link(href='/js/felspire-perk-calculator.js' as='script' rel='preload')

block content
  ul.nav.nav-tabs#felspire-perk-classes
    li.active
      a(href='#felspire-perks-saint' data-toggle='tab') Saint
  .tab-content
    .tab-pane.fade.in.active#felspire-perks-saint
  .modal.fade#export-modal(role='dialog' tabindex='-1')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true')!= '&times;'
          h4.modal-title Export build
        .modal-body
          p Woo! Share this URL with your friends!
          input.form-control#export-url(readonly)
          p
            span Too long? You can shorten in
            |
            |
            +externalLink('https://bit.ly', 'here')
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal') Close