extends inc/layout.pug

block content
  h1 Welcome
  p I'll be publishing all the miscellaneous game calculators I end up creating here. Bookmark this page. Do it now.

block scripts
  script!= "require(['global'],function(){});"